<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyh.myBatis.MemberLoginExceptionToMapper">
    <resultMap id="BaseResultMap" type="com.wyh.myBatis.MemberLoginExceptionTo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="mid" jdbcType="INTEGER" property="mid"/>
        <result column="device_name" jdbcType="VARCHAR" property="name"/>
        <result column="main_login_imei" jdbcType="VARCHAR" property="imei"/>
        <result column="main_login_addr" jdbcType="VARCHAR" property="address"/>
        <result column="main_login_udid" jdbcType="VARCHAR" property="udid"/>
    </resultMap>

    <select id="selectByType"  resultMap="BaseResultMap">
        select * from MEMBER_MAIN_DEVICE
        <where>
            <if test="mids !=null">
                and mid in
                <foreach collection="mids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="address != null">
                and main_login_addr = #{address,jdbcType=VARCHAR}
            </if>

        </where>

    </select>

    <select id="selectAllCity" resultType="java.lang.String">
        select distinct  main_login_addr from MEMBER_MAIN_DEVICE
        where main_login_addr is not null and main_login_addr &lt;&gt;''
    </select>
</mapper>